html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}


body {
    background: linear-gradient(135deg, #E0DAFA 0%, #E4ECC9 25%,
            #FAF8DF 50%, #FCE1D7 75%, #FEDCA8 100%);
    background-attachment: fixed;
}