html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}


body {
    background: linear-gradient(135deg, #E0DAFA 0%, #E4ECC9 25%,
            #FAF8DF 50%, #FCE1D7 75%, #FEDCA8 100%);
    background-attachment: fixed;
}


.workout-card {
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}


.workout-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}


.modal-title {
    font-weight: 800;
    color: #555;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 0px;
}


#btn-3-day,
#btn-4-day,
#btn-5-day {
    background-image: linear-gradient(to right, #e1bee7 0%, #ce93d8 100%);
    background-color: transparent;
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    font-weight: small;
    color: #333;
    box-shadow: 0 4px 10px rgba(175, 125, 195, 0.3);
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#btn-3-day:hover,
#btn-4-day:hover,
#btn-5-day:hover {
    background-image: linear-gradient(to right, #ce93d8 0%, #ab47bc 100%);
    box-shadow: 0 6px 15px rgba(175, 125, 195, 0.4);
    color: white;
    transform: scale(1.02);
}


.modal-body .text-primary {
    color: rgb(74, 13, 166) !important;
}


h6 {
    color: mediumslateblue;
}


.card-deck .card-body h5.my-header-smaller {
    font-size: 1.8rem !important;
    margin-bottom: 1rem !important;
}


.card-deck .card-footer {
    padding-top: 0px !important;
}


.container.mt-3 {
    padding-bottom: 50px;
}


.modal-content .modal-header h5.modal-title {
    margin: 0 !important;
    line-height: 1.2;
}

.modal-content .modal-body h6 {
    margin-top: 5px !important;
    margin-bottom: 10px !important;
}

.modal-content .modal-footer {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}


.modal-content .modal-body h6,
.modal-content .modal-body p {
    margin-top: 0 !important;
}

.modal-content .modal-body h6 {
    margin-bottom: 8px !important;
}

.modal-content .modal-body p {
    margin-bottom: 15px !important;
}